In [1]:
import pandas as pd
import tables
from tabulate import tabulate

In [2]:
df = pd.read_csv("problem_traveler_raw.csv")

In [3]:
df.head()

,PNR,origination_city,destination_city,orig_city_cd,dest_city_cd,origination_lat,origination_lon,destination_lat,destination_lon,fl_grfare_usd_am,fl_valid_id,fl_mile_ct,fl_cost_per_mile_usd_am,carry_a2_cd,fl_no,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time
0,921597,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,550.95,1,1981,0.27,AA,772,5/14/2018 16:33,5/14/2018 9:03,5/14/2018 23:33,5/14/2018 14:03
1,921597,MIA,PUJ,MIA,PUJ,25.796000,-80.278234,18.562477,-68.363998,252.80,1,909,0.27,AA,2593,5/14/2018 21:23,5/14/2018 19:00,5/15/2018 2:23,5/14/2018 23:00
2,921597,PUJ,MIA,PUJ,MIA,18.562477,-68.363998,25.796000,-80.278234,252.81,1,909,0.27,AA,1317,5/18/2018 9:41,5/18/2018 7:00,5/18/2018 13:41,5/18/2018 12:00
3,921597,MIA,PHX,MIA,PHX,25.796000,-80.278234,33.435036,-112.000164,550.95,1,1981,0.27,AA,272,5/18/2018 15:59,5/18/2018 13:55,5/18/2018 20:59,5/18/2018 20:55
4,492751,PHX,SAN,PHX,SAN,33.435036,-112.000164,32.731938,-117.197312,249.44,1,302,0.82,AA,465,2/5/2018 8:52,2/5/2018 8:35,2/5/2018 15:52,2/5/2018 16:35

In [4]:
print("Shape of the dataset is",df.shape)

Shape of the dataset is (134, 19)

Checking the time difference between arrival and departure for UTC time

In [5]:


df['seg_dprt_utc_time'] = pd.to_datetime(df['seg_dprt_utc_time'], errors='coerce')
df['seg_arr_utc_time'] = pd.to_datetime(df['seg_arr_utc_time'], errors='coerce')

In [6]:
df['timediff_utc'] = df['seg_arr_utc_time'] - df['seg_dprt_utc_time']

The time difference is negative for some values. Now checking Time difference for Local time

In [7]:
df['timediff_utc'][24:30]

24     0 days 00:25:00
25   -1 days +19:45:00
26   -1 days +19:45:00
27   -1 days +19:45:00
28   -1 days +19:50:00
29   -1 days +19:50:00
Name: timediff_utc, dtype: timedelta64[ns]

In [8]:
df['seg_dprt_local_time'] = pd.to_datetime(df['seg_dprt_local_time'], errors='coerce')
df['seg_arr_local_time'] = pd.to_datetime(df['seg_arr_local_time'], errors='coerce')

df['timediff_local'] = df['seg_arr_local_time'] - df['seg_dprt_local_time']

# All values are positive so, we will consider Local Time format because we won't drop the rows

In [9]:
# pd.reset_option('all')
# display(df)
print(df['timediff_local'].to_markdown())

|     |   timediff_local |
|----:|-----------------:|
|   0 |        2.7e+13   |
|   1 |        8.58e+12  |
|   2 |        9.66e+12  |
|   3 |        7.44e+12  |
|   4 |        1.02e+12  |
|   5 |        9.18e+12  |
|   6 |        9.42e+12  |
|   7 |        2.694e+13 |
|   8 |        4.02e+12  |
|   9 |        8.82e+12  |
|  10 |        7.02e+12  |
|  11 |        9e+12     |
|  12 |        5.76e+13  |
|  13 |        5.76e+13  |
|  14 |        6.45e+13  |
|  15 |        6.45e+13  |
|  16 |        6.45e+13  |
|  17 |        9.9e+12   |
|  18 |        9.9e+12   |
|  19 |        1.26e+13  |
|  20 |        1.26e+13  |
|  21 |        1.26e+13  |
|  22 |        5.1e+12   |
|  23 |        5.1e+12   |
|  24 |        5.1e+12   |
|  25 |        9.9e+12   |
|  26 |        9.9e+12   |
|  27 |        9.9e+12   |
|  28 |        1.02e+13  |
|  29 |        1.02e+13  |
|  30 |        1.02e+13  |
|  31 |        1.02e+13  |
|  32 |        2.562e+13 |
|  33 |        2.562e+13 |
|  34 |        2.67e+13  |
|  35 |        7.02e+12  |
|  36 |        6.6e+12   |
|  37 |        6.6e+12   |
|  38 |        2.358e+13 |
|  39 |        1.368e+13 |
|  40 |        2.91e+13  |
|  41 |        8.58e+12  |
|  42 |        7.98e+12  |
|  43 |        7.5e+12   |
|  44 |        6.45e+13  |
|  45 |        6.45e+13  |
|  46 |        6.45e+13  |
|  47 |        6.45e+13  |
|  48 |        6.45e+13  |
|  49 |        8.4e+12   |
|  50 |        8.4e+12   |
|  51 |        5.1e+12   |
|  52 |        5.1e+12   |
|  53 |        5.1e+12   |
|  54 |        9e+11     |
|  55 |        9e+11     |
|  56 |        6e+12     |
|  57 |        5.1e+12   |
|  58 |        5.4e+12   |
|  59 |        3.81e+13  |
|  60 |        3.81e+13  |
|  61 |        3.81e+13  |
|  62 |        3.81e+13  |
|  63 |        3.81e+13  |
|  64 |        2.43e+13  |
|  65 |        2.43e+13  |
|  66 |        2.43e+13  |
|  67 |        2.43e+13  |
|  68 |        1.41e+13  |
|  69 |        1.41e+13  |
|  70 |        1.41e+13  |
|  71 |        1.41e+13  |
|  72 |        1.02e+13  |
|  73 |        7.68e+12  |
|  74 |        9.12e+12  |
|  75 |        6.12e+12  |
|  76 |        6.12e+12  |
|  77 |        6.12e+12  |
|  78 |        6.12e+12  |
|  79 |        1.68e+12  |
|  80 |        1.68e+12  |
|  81 |        1.68e+12  |
|  82 |        1.68e+12  |
|  83 |        2.43e+13  |
|  84 |        7.5e+12   |
|  85 |        7.5e+12   |
|  86 |        1.02e+13  |
|  87 |        2.25e+13  |
|  88 |        1.05e+13  |
|  89 |        2.358e+13 |
|  90 |        2.574e+13 |
|  91 |        2.424e+13 |
|  92 |        1.206e+13 |
|  93 |        1.308e+13 |
|  94 |        1.332e+13 |
|  95 |        2.844e+13 |
|  96 |        8.28e+12  |
|  97 |        1.146e+13 |
|  98 |        1.146e+13 |
|  99 |        1.248e+13 |
| 100 |        1.248e+13 |
| 101 |        5.7e+12   |
| 102 |        1.5e+13   |
| 103 |        3.96e+12  |
| 104 |        7.56e+12  |
| 105 |        9.36e+12  |
| 106 |        3.042e+13 |
| 107 |        5.52e+12  |
| 108 |        8.82e+13  |
| 109 |        2.34e+13  |
| 110 |        1.8e+13   |
| 111 |        1.32e+13  |
| 112 |        7.74e+12  |
| 113 |        2.796e+13 |
| 114 |        3.48e+12  |
| 115 |        1.152e+13 |
| 116 |        1.152e+13 |
| 117 |        6.3e+13   |
| 118 |        5.1e+12   |
| 119 |        6e+12     |
| 120 |        8.7e+12   |
| 121 |        6.09e+13  |
| 122 |        1.41e+13  |
| 123 |        2.922e+13 |
| 124 |        9.6e+12   |
| 125 |        6.45e+13  |
| 126 |        2.73e+13  |
| 127 |        1.08e+13  |
| 128 |        9.66e+12  |
| 129 |        9.66e+12  |
| 130 |        2.754e+13 |
| 131 |        1.368e+13 |
| 132 |        2.754e+13 |
| 133 |        1.368e+13 |

In [10]:
filtered_df = df.loc[(df['fl_grfare_usd_am']>0) & (df['fl_valid_id']==1) & (df['fl_mile_ct']>0)]

In [11]:
filtered_df

,PNR,origination_city,destination_city,orig_city_cd,dest_city_cd,origination_lat,origination_lon,destination_lat,destination_lon,fl_grfare_usd_am,...,fl_mile_ct,fl_cost_per_mile_usd_am,carry_a2_cd,fl_no,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time,timediff_utc,timediff_local
0,921597,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,550.95,...,1981,0.27,AA,772,2018-05-14 16:33:00,2018-05-14 09:03:00,2018-05-14 23:33:00,2018-05-14 14:03:00,0 days 09:30:00,0 days 07:30:00
1,921597,MIA,PUJ,MIA,PUJ,25.796000,-80.278234,18.562477,-68.363998,252.80,...,909,0.27,AA,2593,2018-05-14 21:23:00,2018-05-14 19:00:00,2018-05-15 02:23:00,2018-05-14 23:00:00,0 days 03:23:00,0 days 02:23:00
2,921597,PUJ,MIA,PUJ,MIA,18.562477,-68.363998,25.796000,-80.278234,252.81,...,909,0.27,AA,1317,2018-05-18 09:41:00,2018-05-18 07:00:00,2018-05-18 13:41:00,2018-05-18 12:00:00,0 days 01:41:00,0 days 02:41:00
3,921597,MIA,PHX,MIA,PHX,25.796000,-80.278234,33.435036,-112.000164,550.95,...,1981,0.27,AA,272,2018-05-18 15:59:00,2018-05-18 13:55:00,2018-05-18 20:59:00,2018-05-18 20:55:00,0 days 00:04:00,0 days 02:04:00
4,492751,PHX,SAN,PHX,SAN,33.435036,-112.000164,32.731938,-117.197312,249.44,...,302,0.82,AA,465,2018-02-05 08:52:00,2018-02-05 08:35:00,2018-02-05 15:52:00,2018-02-05 16:35:00,-1 days +23:17:00,0 days 00:17:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,335664,LON,NYC,LHR,JFK,51.469603,-0.453566,40.642335,-73.788170,2809.51,...,3450,0.81,AA,6134,2018-03-28 19:15:00,2018-03-28 16:15:00,2018-03-28 19:15:00,2018-03-28 21:15:00,-1 days +22:00:00,0 days 03:00:00
128,252241,EWR,PHX,EWR,PHX,40.689071,-74.178753,33.435036,-112.000164,1472.43,...,2131,0.69,UA,1611,2018-03-29 22:36:00,2018-03-29 19:55:00,2018-03-30 03:36:00,2018-03-30 02:55:00,0 days 00:41:00,0 days 02:41:00
129,335664,EWR,PHX,EWR,PHX,40.689071,-74.178753,33.435036,-112.000164,1462.44,...,2131,0.68,UA,1611,2018-03-29 22:36:00,2018-03-29 19:55:00,2018-03-30 03:36:00,2018-03-30 02:55:00,0 days 00:41:00,0 days 02:41:00
130,435290,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,723.27,...,1981,0.36,AA,766,2018-06-26 16:28:00,2018-06-26 08:49:00,2018-06-26 23:28:00,2018-06-26 13:49:00,0 days 09:39:00,0 days 07:39:00
131,435290,MIA,BDA,MIA,BDA,25.796000,-80.278234,32.359940,-64.701148,386.63,...,1059,0.36,AA,308,2018-06-26 21:38:00,2018-06-26 17:50:00,2018-06-27 02:38:00,2018-06-26 21:50:00,0 days 04:48:00,0 days 03:48:00

In [12]:
filtered_df['seg_dprt_local_time'] = pd.to_datetime(filtered_df['seg_dprt_local_time'])
filtered_df['seg_arr_local_time'] = pd.to_datetime(filtered_df['seg_arr_local_time'])

/home/tanya/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/tanya/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
filtered_df.reset_index(inplace=True,drop=True)

In [14]:
filtered_df

,PNR,origination_city,destination_city,orig_city_cd,dest_city_cd,origination_lat,origination_lon,destination_lat,destination_lon,fl_grfare_usd_am,...,fl_mile_ct,fl_cost_per_mile_usd_am,carry_a2_cd,fl_no,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time,timediff_utc,timediff_local
0,921597,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,550.95,...,1981,0.27,AA,772,2018-05-14 16:33:00,2018-05-14 09:03:00,2018-05-14 23:33:00,2018-05-14 14:03:00,0 days 09:30:00,0 days 07:30:00
1,921597,MIA,PUJ,MIA,PUJ,25.796000,-80.278234,18.562477,-68.363998,252.80,...,909,0.27,AA,2593,2018-05-14 21:23:00,2018-05-14 19:00:00,2018-05-15 02:23:00,2018-05-14 23:00:00,0 days 03:23:00,0 days 02:23:00
2,921597,PUJ,MIA,PUJ,MIA,18.562477,-68.363998,25.796000,-80.278234,252.81,...,909,0.27,AA,1317,2018-05-18 09:41:00,2018-05-18 07:00:00,2018-05-18 13:41:00,2018-05-18 12:00:00,0 days 01:41:00,0 days 02:41:00
3,921597,MIA,PHX,MIA,PHX,25.796000,-80.278234,33.435036,-112.000164,550.95,...,1981,0.27,AA,272,2018-05-18 15:59:00,2018-05-18 13:55:00,2018-05-18 20:59:00,2018-05-18 20:55:00,0 days 00:04:00,0 days 02:04:00
4,492751,PHX,SAN,PHX,SAN,33.435036,-112.000164,32.731938,-117.197312,249.44,...,302,0.82,AA,465,2018-02-05 08:52:00,2018-02-05 08:35:00,2018-02-05 15:52:00,2018-02-05 16:35:00,-1 days +23:17:00,0 days 00:17:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,335664,LON,NYC,LHR,JFK,51.469603,-0.453566,40.642335,-73.788170,2809.51,...,3450,0.81,AA,6134,2018-03-28 19:15:00,2018-03-28 16:15:00,2018-03-28 19:15:00,2018-03-28 21:15:00,-1 days +22:00:00,0 days 03:00:00
71,252241,EWR,PHX,EWR,PHX,40.689071,-74.178753,33.435036,-112.000164,1472.43,...,2131,0.69,UA,1611,2018-03-29 22:36:00,2018-03-29 19:55:00,2018-03-30 03:36:00,2018-03-30 02:55:00,0 days 00:41:00,0 days 02:41:00
72,335664,EWR,PHX,EWR,PHX,40.689071,-74.178753,33.435036,-112.000164,1462.44,...,2131,0.68,UA,1611,2018-03-29 22:36:00,2018-03-29 19:55:00,2018-03-30 03:36:00,2018-03-30 02:55:00,0 days 00:41:00,0 days 02:41:00
73,435290,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,723.27,...,1981,0.36,AA,766,2018-06-26 16:28:00,2018-06-26 08:49:00,2018-06-26 23:28:00,2018-06-26 13:49:00,0 days 09:39:00,0 days 07:39:00
74,435290,MIA,BDA,MIA,BDA,25.796000,-80.278234,32.359940,-64.701148,386.63,...,1059,0.36,AA,308,2018-06-26 21:38:00,2018-06-26 17:50:00,2018-06-27 02:38:00,2018-06-26 21:50:00,0 days 04:48:00,0 days 03:48:00

In [15]:
Total_fare = filtered_df.groupby(['PNR'])['fl_grfare_usd_am'].sum()

# Total fare for individual PNR

In [16]:
Total_fare

PNR
111318     2740.18
252241     1472.43
276662     2848.88
279194     2112.04
295064    10966.53
309555    12404.17
333260     1773.44
335664    10640.98
435290     1109.90
492751      505.30
597788      594.10
612481     1375.90
756904     1243.60
819915    11867.13
823594    11500.01
875677     2372.64
921597     1607.51
936809     1983.02
961754     4060.78
966615     2328.10
981010     9597.01
993257     8010.41
995277    14979.61
999160      618.07
999890     1238.04
Name: fl_grfare_usd_am, dtype: float64

In [17]:
Total_fare.sum()

119949.78

In [18]:
Total_mile_count = filtered_df.groupby(['PNR'])['fl_mile_ct'].sum()

# Total mile count for individual PNRs

In [19]:
Total_mile_count

PNR
111318     6081
252241     2131
276662     8863
279194     5395
295064     5279
309555    18898
333260     2554
335664    12991
435290     3040
492751      604
597788      638
612481     4262
756904     4598
819915    11089
823594     5279
875677     7884
921597     5780
936809     3904
961754     5465
966615     4299
981010    10558
993257    19410
995277    17365
999160     1282
999890     3928
Name: fl_mile_ct, dtype: int64

In [20]:
Total_mile_count.sum()

171577

# Total valid trips for individual PNR

In [21]:
Total_valid_trips = filtered_df.groupby(['PNR'])['fl_valid_id'].sum()
print(Total_valid_trips)

PNR
111318    4
252241    1
276662    5
279194    3
295064    1
309555    4
333260    2
335664    4
435290    2
492751    2
597788    2
612481    2
756904    2
819915    4
823594    1
875677    4
921597    4
936809    3
961754    5
966615    2
981010    2
993257    6
995277    6
999160    2
999890    2
Name: fl_valid_id, dtype: int64

In [22]:
Total_valid_trips.sum()

75

# City which occurs for maximum count as source and destination is the home city. PHX occurs maximum times thus it's home city

In [23]:
from collections import Counter
oc = filtered_df['orig_city_cd']
dc = filtered_df['dest_city_cd']
print("max orig city",Counter(oc))
print("max dest city",Counter(dc))

max orig city Counter({'PHX': 21, 'LHR': 9, 'EWR': 9, 'MIA': 4, 'IAD': 3, 'SFO': 3, 'DEN': 2, 'EDI': 2, 'PUJ': 1, 'SAN': 1, 'NAS': 1, 'ATL': 1, 'MEX': 1, 'MAD': 1, 'DCA': 1, 'AMS': 1, 'MSY': 1, 'NBO': 1, 'JFK': 1, 'EYW': 1, 'BDA': 1, 'SJD': 1, 'LIH': 1, 'LAX': 1, 'DEL': 1, 'SEA': 1, 'MUC': 1, 'NCE': 1, 'FRA': 1, 'BOS': 1})
max dest city Counter({'PHX': 24, 'LHR': 10, 'EWR': 6, 'MIA': 4, 'JFK': 3, 'SFO': 3, 'DEN': 2, 'IAD': 2, 'DCA': 2, 'PUJ': 1, 'SAN': 1, 'NAS': 1, 'ATL': 1, 'MEX': 1, 'MAD': 1, 'AMS': 1, 'NBO': 1, 'EYW': 1, 'SJD': 1, 'LIH': 1, 'LAX': 1, 'DEL': 1, 'SEA': 1, 'MUC': 1, 'NCE': 1, 'FRA': 1, 'BOS': 1, 'BDA': 1})

In [24]:
# sortedCities

In [25]:
ori_city = list(filtered_df["orig_city_cd"].unique())
dest_city = list(filtered_df["dest_city_cd"].unique())
ori_city.extend(dest_city)
print(set(ori_city))
print("Number of disctint cities visited is",len(set(ori_city)) - 1)

{'JFK', 'SJD', 'NCE', 'EWR', 'MAD', 'PHX', 'EDI', 'BDA', 'NAS', 'AMS', 'IAD', 'MUC', 'PUJ', 'DEL', 'LHR', 'SFO', 'MSY', 'MIA', 'DCA', 'ATL', 'DEN', 'LIH', 'MEX', 'SAN', 'EYW', 'LAX', 'BOS', 'FRA', 'NBO', 'SEA'}
Number of disctint cities visited is 29

In [26]:
filtered_df['Dates_dept'] = pd.to_datetime(filtered_df['seg_dprt_local_time']).dt.date
filtered_df['Time_dept'] = pd.to_datetime(filtered_df['seg_dprt_local_time']).dt.time
# # df.loc['1/01/2018':'1/31/2018']

/home/tanya/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/tanya/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
filtered_df['Dates_arr'] = pd.to_datetime(filtered_df['seg_arr_local_time']).dt.date
filtered_df['Time_arr'] = pd.to_datetime(filtered_df['seg_arr_local_time']).dt.time

/home/tanya/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/tanya/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
user1 = filtered_df.sort_values(by=['Dates_dept','Time_dept','Time_arr'])

In [29]:
user1[user1['PNR']==279194]

,PNR,origination_city,destination_city,orig_city_cd,dest_city_cd,origination_lat,origination_lon,destination_lat,destination_lon,fl_grfare_usd_am,...,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time,timediff_utc,timediff_local,Dates_dept,Time_dept,Dates_arr,Time_arr
57,279194,PHX,SEA,PHX,SEA,33.435036,-112.000164,47.443839,-122.301732,300.50,...,2018-03-05 16:59:00,2018-03-05 14:50:00,2018-03-05 23:59:00,2018-03-05 22:50:00,0 days 01:09:00,0 days 02:09:00,2018-03-05,14:50:00,2018-03-05,16:59:00
58,279194,SEA,WAS,SEA,DCA,47.443839,-122.301732,38.853434,-77.043457,1198.31,...,2018-03-06 21:41:00,2018-03-06 13:55:00,2018-03-07 05:41:00,2018-03-06 18:55:00,0 days 10:46:00,0 days 07:46:00,2018-03-06,13:55:00,2018-03-06,21:41:00
59,279194,WAS,PHX,IAD,PHX,38.953150,-77.447735,33.435036,-112.000164,613.23,...,2018-03-08 20:47:00,2018-03-08 17:35:00,2018-03-09 01:47:00,2018-03-09 00:35:00,0 days 01:12:00,0 days 03:12:00,2018-03-08,17:35:00,2018-03-08,20:47:00

In [30]:
filtered_df['PNR']

0     921597
1     921597
2     921597
3     921597
4     492751
       ...
70    335664
71    252241
72    335664
73    435290
74    435290
Name: PNR, Length: 75, dtype: int64

In [31]:
uniq_users=filtered_df['PNR'].unique()

In [32]:
len(uniq_users)

25

In [33]:
# list1=[]
pnr=[]
remark=[]
travel_his=[]
home_code=[]
ori = []
des = []
for i in range(0, len(uniq_users)):
    
  s = []
  # print(i)
  user = filtered_df[filtered_df['PNR']==uniq_users[i]].sort_values(by=['Dates_dept','Time_dept','Time_arr'])
  # print(user)
  user_orig_des = user[['PNR','orig_city_cd', 'dest_city_cd']]
  user_orig_des['combined'] = user_orig_des['orig_city_cd'].astype(str) + '->' + user_orig_des['dest_city_cd']
  
  for index, row in user_orig_des.iterrows():
      x = row["orig_city_cd"]
      y = row["dest_city_cd"]
      s.extend([x,y])
  print(s)
  travel_his.append(s)
  pnr.append( uniq_users[i])
      # break
  ori.append(s[0])
  des.append(s[-1])
    
  if s[0]==s[-1]:
    print("Round trip with origin city as:",s[0])
    remark.append('Round trip')
    home_code.append("PHX")
 

  else:
    print("One way trip with origin city as:",s[0])
    remark.append('one way trip')
    home_code.append("PHX")

['PHX', 'MIA', 'MIA', 'PUJ', 'PUJ', 'MIA', 'MIA', 'PHX']
Round trip with origin city as: PHX
['PHX', 'SAN', 'SAN', 'PHX']
Round trip with origin city as: PHX
['PHX', 'MIA', 'MIA', 'NAS', 'NAS', 'ATL', 'ATL', 'MEX', 'MEX', 'PHX']
Round trip with origin city as: PHX
['PHX', 'DEN', 'DEN', 'LHR', 'PHX', 'LHR', 'LHR', 'MAD', 'MAD', 'LHR', 'LHR', 'PHX']
Round trip with origin city as: PHX
['LHR', 'PHX']
One way trip with origin city as: LHR
['PHX', 'IAD', 'PHX', 'DCA', 'DCA', 'PHX', 'IAD', 'PHX']
Round trip with origin city as: PHX
['PHX', 'EWR', 'EWR', 'PHX']
Round trip with origin city as: PHX
['PHX', 'JFK', 'EWR', 'PHX']
Round trip with origin city as: PHX
['PHX', 'SFO', 'SFO', 'PHX']
Round trip with origin city as: PHX
['PHX', 'LHR', 'LHR', 'AMS', 'AMS', 'LHR', 'LHR', 'NBO', 'NBO', 'LHR', 'LHR', 'PHX']
Round trip with origin city as: PHX
['EDI', 'LHR', 'EDI', 'LHR']
One way trip with origin city as: EDI
['LHR', 'PHX']
One way trip with origin city as: LHR
['MSY', 'SFO', 'SFO', 'PHX']
One way trip with origin city as: MSY
['PHX', 'IAD', 'IAD', 'PHX']
Round trip with origin city as: PHX
['PHX', 'JFK', 'JFK', 'PHX', 'EWR', 'EYW', 'EYW', 'EWR', 'EWR', 'PHX']

/home/tanya/.local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

Round trip with origin city as: PHX
['BDA', 'EWR', 'EWR', 'SJD', 'SJD', 'PHX']
One way trip with origin city as: BDA
['PHX', 'SFO', 'SFO', 'LIH', 'LIH', 'LAX', 'LAX', 'PHX']
Round trip with origin city as: PHX
['PHX', 'EWR', 'EWR', 'DEL', 'DEL', 'EWR', 'EWR', 'PHX']
Round trip with origin city as: PHX
['PHX', 'SEA', 'SEA', 'DCA', 'IAD', 'PHX']
Round trip with origin city as: PHX
['DEN', 'MUC', 'MUC', 'NCE', 'NCE', 'FRA', 'FRA', 'DEN']
Round trip with origin city as: DEN
['PHX', 'LHR', 'LHR', 'PHX']
Round trip with origin city as: PHX
['PHX', 'BOS', 'BOS', 'PHX']
Round trip with origin city as: PHX
['PHX', 'LHR', 'PHX', 'EWR', 'LHR', 'JFK', 'EWR', 'PHX']
Round trip with origin city as: PHX
['EWR', 'PHX']
One way trip with origin city as: EWR
['PHX', 'MIA', 'MIA', 'BDA']
One way trip with origin city as: PHX

In [34]:
COLUMN_NAMES=['PNR','travel_history', 'ori','des','Trip Type','home_code']
new_df=pd.DataFrame(columns=COLUMN_NAMES)

In [35]:
new_df['PNR'] = pnr
new_df['travel_history'] = travel_his
new_df["ori"] = ori
new_df['des'] = des
new_df['Trip Type']=remark
new_df['home_code'] = home_code

In [36]:
new_df

,PNR,travel_history,ori,des,Trip Type,home_code
0,921597,"[PHX, MIA, MIA, PUJ, PUJ, MIA, MIA, PHX]",PHX,PHX,Round trip,PHX
1,492751,"[PHX, SAN, SAN, PHX]",PHX,PHX,Round trip,PHX
2,961754,"[PHX, MIA, MIA, NAS, NAS, ATL, ATL, MEX, MEX, ...",PHX,PHX,Round trip,PHX
3,995277,"[PHX, DEN, DEN, LHR, PHX, LHR, LHR, MAD, MAD, ...",PHX,PHX,Round trip,PHX
4,823594,"[LHR, PHX]",LHR,PHX,one way trip,PHX
5,875677,"[PHX, IAD, PHX, DCA, DCA, PHX, IAD, PHX]",PHX,PHX,Round trip,PHX
6,612481,"[PHX, EWR, EWR, PHX]",PHX,PHX,Round trip,PHX
7,966615,"[PHX, JFK, EWR, PHX]",PHX,PHX,Round trip,PHX
8,999160,"[PHX, SFO, SFO, PHX]",PHX,PHX,Round trip,PHX
9,993257,"[PHX, LHR, LHR, AMS, AMS, LHR, LHR, NBO, NBO, ...",PHX,PHX,Round trip,PHX
10,597788,"[EDI, LHR, EDI, LHR]",EDI,LHR,one way trip,PHX
11,295064,"[LHR, PHX]",LHR,PHX,one way trip,PHX
12,333260,"[MSY, SFO, SFO, PHX]",MSY,PHX,one way trip,PHX
13,999890,"[PHX, IAD, IAD, PHX]",PHX,PHX,Round trip,PHX
14,276662,"[PHX, JFK, JFK, PHX, EWR, EYW, EYW, EWR, EWR, ...",PHX,PHX,Round trip,PHX
15,936809,"[BDA, EWR, EWR, SJD, SJD, PHX]",BDA,PHX,one way trip,PHX
16,111318,"[PHX, SFO, SFO, LIH, LIH, LAX, LAX, PHX]",PHX,PHX,Round trip,PHX
17,309555,"[PHX, EWR, EWR, DEL, DEL, EWR, EWR, PHX]",PHX,PHX,Round trip,PHX
18,279194,"[PHX, SEA, SEA, DCA, IAD, PHX]",PHX,PHX,Round trip,PHX
19,819915,"[DEN, MUC, MUC, NCE, NCE, FRA, FRA, DEN]",DEN,DEN,Round trip,PHX
20,981010,"[PHX, LHR, LHR, PHX]",PHX,PHX,Round trip,PHX
21,756904,"[PHX, BOS, BOS, PHX]",PHX,PHX,Round trip,PHX
22,335664,"[PHX, LHR, PHX, EWR, LHR, JFK, EWR, PHX]",PHX,PHX,Round trip,PHX
23,252241,"[EWR, PHX]",EWR,PHX,one way trip,PHX
24,435290,"[PHX, MIA, MIA, BDA]",PHX,BDA,one way trip,PHX